body{
    background-color: #D9D7F1;
}
.holders
{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
  .container-holder{
    width: 600px;
    height: 100%; 
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    font-family: verdana;
    background-color: #FFCBCB;
    border-radius: 80px;
  }
  label
  {
    margin-bottom: 20px;
  }
  .sign-up-button
  {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 600;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  

  
  
  
  .su,.si
  {
    cursor: pointer;
    width: 50%;
    height: 100%;
    background-color: transparent;
  }
  .si:hover .sign-in-button,.si:hover,.su:hover .sign-up-button ,.su:hover{
    background-color: white;
    color: black;
  }
  
  .signin-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
  
  }
  
  .button-container>div:not(:last-child){
  border-right: 3px solid white;
  }
  
  .signup-container {
    display: flex;
    flex-direction: column;
    position: relative;
  }
   
  .form-container
  {
    width: 100%;
  }
  
  input,textarea,select{
    width: 90%;
    height: 30px;
    background-color: transparent;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    color: #272727;
    padding-bottom: 5px;
    border-bottom: 3px solid #272727;
    transition: all .3s ease-in-out;
    font-size: 15px;
    margin-bottom: 10px;
  }
  select{
    font-weight: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
  }
  .option{
    background-color: #FFCBCB;
    font-weight: 900;
    
  }
  
  input:-webkit-autofill,input:-webkit-autofill:focus
  
  {
    transition: background-color 600000s 0s,color 600000s 0s;
  }
  input[data-autocompleted]
  {
    background-color: transparent !important;
  }
  input::placeholder {
    color: Black;
  }
  
  label {
    width: 100%;
    height: 15px;
    
    color: rgba(65, 65, 65, 0.815);
    font-size: 150%;
    display: none;
  }
  
  input:focus,select:focus{
    outline: none;
    background-color: transparent;
    border-color:  #D77FA1;
  }
  .login-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height:max-content;
    padding: 5px;
    /* align-items: center;
    justify-content: center; */
    align-items: center;
    align-self: center;
  }
  select{
    margin-bottom: 40px;
  }
  button {
    height: 100%;
    width: 50%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .login-button,.signup-button
  {
    color: black;
    border: 1px solid black;
    background-color: transparent;
    border-radius: 10px;
  }
  .message{
    color: #252525;
    font-size: 30px;
    
  }
  .login-button:hover,.signup-button:hover{
    background-color: #fd9090;
    color: black;
    outline: none;
    cursor: pointer;
  }
  
  a {
    margin-top: 10px ;
  }
  input,select{
    width: 100%;
    margin-top: 1.5rem;
    padding: 0.25rem;
    
    transition: border-color 0.2s ease;
  }
  label
    {
      display: block;
    
    transform: translate(0, -2.75rem);
    }
    label:hover
    {
      cursor: pointer;
    }
    
  @media only screen and (max-width: 480px) {
  
    .login-container {
      display: flex;
      flex-direction: column;
      width: calc(100% - 80px);
      height:max-content;
      align-items: center;
      justify-content: center;
      align-items: center;
      align-self: center;
    }
  
    
    .input{
      width: 100%;
  
      height: 13px;
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;
      color: #252525;
      padding-bottom: 10px;
      border-bottom: .5px solid #D77FA1;
    }
    
    .form-container
  
  {
    padding-left: 7px;
  }
  .sign-up-button,.sign-in-button
  {
    font-size: 13px;
  }
  
  }
  
  @supports (not (-ms-ime-align:auto)) {
    label {
      color:rgba(59, 59, 59, 0.699);
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      transform: translate(0.25rem, -3.5rem);
      transition: all 0.3s ease-out;
    }
    
    input:focus + label,
    input:not(:placeholder-shown) + label {
    
      transform: translate(0, -4.75rem);
      font-size: 17px;
      font-weight: 900;
      color: rgb(0, 0, 0);
    }
  }
  @media only screen and (max-width:600px)
  {
    .container-holder{
      width: 330px;
    }
  }